{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "semi": "off",
    "no-console": "off",
    "antfu/if-newline": "off",
    "@typescript-eslint/brace-style": "off",
    "curly": [
      "off",
      "multi",
      "consistent"
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/attribute-hyphenation": [
      "warn",
      "never"
    ],
    "vue/valid-v-model": [
      "off"
    ],
    "vue/v-on-event-hyphenation": [
      "warn",
      "never",
      {
        "autofix": true
      }
    ],
    "@typescript-eslint/member-delimiter-style": [
      "warn",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        },
        "multilineDetection": "brackets"
      }
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ]
  }
}
